body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #quiz-container {
    display: block;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #options-container {
    display: flex;
    flex-direction: column;
  }
  
  .option-btn {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .option-btn:hover {
    background-color: #2980b9;
  }
  
  #next-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  #next-btn:hover {
    background-color: #27ae60;
  }
  
  /* Updated styles for the result container */
  #result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #quiz-results {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Hide the result container by default */
  #result-container.hidden {
    display: none;
  }
  
  /* Show the result container when it's not hidden */
  #result-container:not(.hidden) {
    display: block;
  }
  