<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fancy Quiz</title>
</head>
<body>
  <div id="quiz-container">
    <h1>Fancy Quiz</h1>
    <div id="quiz-questions-container">
      <div id="question-container">
        <p id="question-text">Loading question...</p>
        <div id="options-container"></div>
      </div>
      <button id="next-btn" onclick="nextQuestion()">Next</button>
    </div>
    <div id="result-container" class="hidden">
      <h2>Quiz Results</h2>
      <p id="quiz-results"></p>
      <div id="grade-container"></div> <!-- Added grade-container -->
      <button onclick="resetQuiz()">Retry Quiz</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
